asgiref
click
colorama
cssbeautifier
dj-database-url
Django
django-cors-headers
django-environ
django-filter
djangorestframework
djlint
EditorConfig
html-tag-names
html-void-elements
jsbeautifier
json5
Markdown
pathspec
pillow
psycopg2
PyYAML
regex
setuptools
six
sqlparse
tqdm
typing_extensions
tzdata
whitenoise