asgiref
click
colorama
cssbeautifier
Django
django-cors-headers
django-environ
django-filter
djangorestframework
djlint
EditorConfig
html-tag-names
html-void-elements
jsbeautifier
json5
Markdown
pathspec
pillow
PyYAML
regex
setuptools
six
sqlparse
tqdm
tzdata